body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	background-color: #BFD8D2;
}

#header-nav {
	border: 0;
	border-radius: 0;
	background-color: #FEDCD2;
}

.navbar-brand {
	padding-bottom: 75px;
	padding-top: 32px;
}

.navbar-brand h1 {
	font-size: 2em;
	text-transform: uppercase;
	margin-top: 0;
	color: #DF744A;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 2px solid #DF744A;
}

.navbar-header button.navbar-toggle {
	margin-top: 32px;
}

#nav-list {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #DF744A;
}

#nav-list a {
	color: #DCB239;
	text-align: center;
	border: 2px solid #BFD8D2;
}

#nav-list a:hover {
	color: #BFD8D2;
}

#nav-list a span {
	font-size: 1.5em;
}

#main-content h2 {
	color: #DF744A;
	margin-bottom: 37px;
}

section {
	position: relative;
}

section div.details {
	background-color: #DCB239;
	height: 700px;
	padding-left: 25px;
	padding-right: 25px;
}

section h3 {
	background-color: #DCB239;
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}

section span {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 25px;
}



